* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
#logo {
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}
#nav {
  font-weight: 100;
  float: left;
  background-color: #666666;
  width: 120px;
  min-height: 620px;
  padding: 10px;
}
#nav a {
  color: #ffffff;
  text-decoration: none;
}
#nav a:hover {
  text-decoration: underline;
}
#selected {
  font-weight: 300;
}
#content {
  color: #ffffff;
  background-color: #333333;
  float: left;
  padding: 0;
  width: 860px;
  min-height: 640px;
}
h2 {
  font-size: 50px;
  font-weight: 400;
  letter-spacing: 8px;
  margin-top: 15px;
  text-align: center;
}
h3 {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  margin: 20px 100px;
}
img {
  margin-left: 90px;
}
.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#second-map {
  display: none;
}
button {
  border-radius: 20px;
  letter-spacing: 2px;
  font-weight: 200;
  margin-left: 345px;
  background-color: #666666;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  transition: background-color 0.2s;
}
button:hover {
  background-color: #555555;
}

#footer {
  clear: both;
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
}

.bg-image {
  transform: scale(1.1);
  filter: blur(10px) grayscale(1) brightness(0.8);
  -webkit-filter: blur(10px) grayscale(1) brightness(0.8);
  position: fixed;
  z-index: -1;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
